# Virtual Environments
venv/
env/
.venv/

# Environments
.env
.env.*
*.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Git
.git
.gitignore

# Docker
dockerfile
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.yaml

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
